body {
    background-color: darkslategrey;
}

#main {
	width: 850px;
	margin: 0 auto;
}

h1 {
	color: coral;
	margin-left: 36%;
}


#left {
	float: left;
	 width: 600px;
	 height: 500px;
}

#pHand, #cHand {
	width: 299px;
	height: 500px;
	color: coral;
}

.pImg, .sImg {
    display: block;
    width: 75%;
    height: 75%;
    margin:  auto;
	margin-top: 20px;
}

img {
	padding: 65px;
	
}

#pHand .pName, #cHand h2 {
	padding-left: 20px;
}

.pName, #pName2 {
    display: inline;
}

#pHand {
	float: left;
	background: #4660F5;
	background: -webkit-linear-gradient(top left, #4660F5, #1E47AB);
	background: -moz-linear-gradient(top left, #4660F5, #1E47AB);
	background: linear-gradient(top left, #4660F5, #1E47AB);
	border-radius: 25px;
}

#cHand {
	float: right;
	background: #7F3D3D;
	background: -webkit-linear-gradient(top left, #7F3D3D, #D23F3F);
	background: -moz-linear-gradient(top left, #7F3D3D, #D23F3F);
	background: linear-gradient(top left, #7F3D3D, #D23F3F);
	
	border-radius: 25px;
}

#right {
	float: right;
	width: 240px;
	height: 555px;
	background: #275D33;
	background: -webkit-linear-gradient(top left, #275D33, #3BE39C);
	background: -moz-linear-gradient(top left, #275D33, #3BE39C);
	background: linear-gradient(top left, #275D33, #3BE39C);
	padding-left: 10px;
	border-radius: 25px;
}

#right h2, #right p {
	display: inline-block;
	color: coral;
}

#right p {
	font-size: 32px;
	padding-left: 5px;
}

#but {
	clear: both;
	height: 40px;
	padding-top: 15px;
	padding-left: 20px;
	background: #D2B006;
	background: -webkit-linear-gradient(top left, #D2B006, #9D6D10);
	background: -moz-linear-gradient(top left, #D2B006, #9D6D10);
	background: linear-gradient(top left, #D2B006, #9D6D10);
}

/* Rules */
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
/*End Rules*/

